<!DOCTYPE html>
<html lang="ko">

<head th:replace="head :: head"></head>

<head>
	<title>스케줄</title>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src='https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.9/index.global.min.js'></script>
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@6.1.9/index.global.min.js"></script>

	<script th:inline="javascript">
		document.addEventListener('DOMContentLoaded', function () {
			// 개인 스케줄
			var pSchedule = /*[[${personalSchedule}]]*/'';
			// 회사 스케줄
			var cSchedule = /*[[${companySchedule}]]*/'';
			// 전체 스케줄 
			var allSchedule = /*[[${allschedules}]]*/'';


			var calendarEl = document.getElementById('calendar');
			var calendar = new FullCalendar.Calendar(calendarEl, {
				googleCalendarApiKey: 'AIzaSyAgGNHIbmXLXhRPanmc-xAAt_qdwPxHUOk',
				initialView: 'dayGridMonth',
				initialDate: new Date(),
				locale: 'ko',
				expandRows: true,
				contentHeight: 500,
				dayMaxEvents: true,
				dayMaxEvents: 4,
				headerToolbar: {
					left: 'prev,next',
					center: 'title',
					right: 'dayGridMonth,timeGridWeek'
				},
	
				navLinks: false,
				fixedWeekCount: false, // 이전달 다음달 선택 막기 
				eventSources: [

					// 개인일정 갖고오기
					{
						events: function (info, successCallback, failureCallback) {
							var events = [];
							for (var i = 0; i < pSchedule.length; i++) {
								events.push({
									"start": pSchedule[i].schedule_date,
									"end": pSchedule[i].deadline,
									"title": pSchedule[i].schedule_name,
									allDay: false,

								});
							}
							successCallback(events)
						},
						color: "#ff385c"
						, textColor: "white"

					},
					// 회사일정 갖고오 
					{
						events: function (info, successCallback, failureCallback) {
							var events = [];
							for (var i = 0; i < cSchedule.length; i++) {
								events.push({
									"start": cSchedule[i].schedule_date,
									"end": cSchedule[i].deadline,
									"title": cSchedule[i].schedule_name,
									allDay: false,

								});
							}
							successCallback(events)
						},
						color: 'blue',
						textColor: 'white',

					},

					{	// 구글 한국꺼 
						googleCalendarId: 'ko.south_korea#holiday@group.v.calendar.google.com',
						color: 'white',
						textColor: 'black'
					},

					{	// 구글 일본꺼
						googleCalendarId: 'ja.japanese#holiday@group.v.calendar.google.com',
						color: 'white',
						textColor: 'black'
					}
				],

				dateClick: function (info) {
					console.log("일정클릭")
					console.log(info);
					Swal.fire({
						title: '일정 입력하기',
						html: `
							<label for="sch">일정명</label>
							<input type="text" id="sch" class="form-control form-control-lg" name="schedule_name"><p><p>
							<label for="con">상세설명</label>
  							<textarea type="text" id="con" class="form-control form-control-lg" name="schedule_contents"></textarea><p>
  							<label for="sta">시작일</label>
  							<input type="datetime-local" id="sta" class="form-control form-control-lg" name="schedule_date"><p>
						    <label for="sta">마감일</label>
  							<input type="datetime-local" id="ded" class="form-control form-control-lg" name="deadline"><p>
  							<label for="typ">일정종류</label>
  							<select class="form-select mb-3" name="schedule_type" id="typ">
							   <option value="null" selected>일정종류를 선택해주세요.</option>
                               <option value="personal">개인</option>
                               <option value="company">사내</option>
							</select>	  
  							<label for="imp">중요도</label>
  							<select class="form-select" name="importance" id="imp">
                               <option value="null" selected>중요도를 선택해주세요.</option>
                               <option value="normal">보통</option>
                               <option value="important">중요</option>
                               <option value="easy">간단</option>
                             </select>
  							`,

						confirmButtonText: '등록하기'
					}).then((result) => {
						if (result.isConfirmed) {
							const url = "/schedule/list";
							const data = {
								schedule_name: $('#sch').val(),
								schedule_contents: $('#con').val(),
								schedule_date: new Date($('#sta').val()),
								deadline: new Date($('#ded').val()),
								importance: $('#imp').val(),
								schedule_type: $('#typ').val()
							};
							console.log(data.schedule_date);
							console.log((new Date(data.deadline)));
							$.ajax({
								url: url,
								type: "POST",
								data: data,
								success: function (result) {
									Swal.fire(
										'일정이 등록되었습니다'
									).then(() => {
										location.reload();
									})
								}
							})

						}
					})
				},

				eventClick: function (info) {
					var 누른거 = allSchedule.find(function (event) {

						return event.schedule_name === info.event._def.title;
					});
					console.log(누른거)

					Swal.fire({
						title: '일정 확인하기',
						html: `
				            <label for="sch">일정명</label>
				            <input type="text" id="sch" class="form-control form-control-lg" value="${누른거.schedule_name}" disabled><p><p>
				            <label for="con">상세설명</label>
				            <textarea type="text" id="con" class="form-control form-control-lg" rows="3" cols="30" disabled>${누른거.schedule_contents}</textarea><p>
				            <label for="sta">시작일</label>
				            <input type="text" id="sta" class="form-control form-control-lg"  value="${(누른거.schedule_date).substring(0,16)}" disabled><p>
				            <label for="sta">마감일</label>
				            <input type="text" id="ded" class="form-control form-control-lg"  value="${누른거.deadline.substring(0,16)}" disabled><p>
							<labe for="typ">일정종류</label>
							<input type="text" id="typ" class="form-control form-control-lg" value="${누른거.schedule_type}" disabled><p>
				            <label for="imp">중요도</label>
				            <input type="text" id="imp" class="form-control form-control-lg" value="${누른거.importance}" disabled>
           
        `,
						confirmButtonText: '삭제하기'
					}).then((result) => {
						if (result.isConfirmed) {
							const url = "/schedule/delete";
							const data = {
								schedule_name: $('#sch').val() // 스케줄 이름 보내서 지울떄 쓸려고 
							}


							$.ajax({
								url: url,
								method: "POST",
								data: data,
								success: function (result) {
									Swal.fire(
										'일정이 삭제되었씁니다'
									).then(() => {
										location.reload();
									})
								}
							})
						}
					})
				}


			});
			calendar.render();
		});

	</script>
</head>

<body>
	<div class="wrapper">
		<!-- 사이드 메뉴 -->
		<nav id="sidebar" class="sidebar js-sidebar" th:if="${session.loginMember}">
			<div th:replace="sidebar :: login"></div>
		</nav>
		<!-- 상단 드롭다운 -->
		<div class="main">
			<nav class="navbar navbar-expand navbar-light navbar-bg" th:if="${session.loginMember}">
				<a class="sidebar-toggle js-sidebar-toggle">
					<i class="hamburger align-self-center"></i>
				</a>
				<div th:replace="dropdown :: login"></div>
			</nav>



			<main class="content">
				<div class="container-fluid">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="card-header">
									<h5 class="card-title mb-0">일정관리</h5>
								</div>
								<div id='calendar'></div>

							</div>
						</div>
					</div>

				</div>
		</div>
	</div>
	</main>
	</div>
	</div>

	<script src="/js/app.js"></script>

</body>

</html>