	<!DOCTYPE html>
<html lang="ko">
<meta charset="UTF-8">
<head th:replace="head :: head"></head>

<head>
	<title
		th:text="${param.board_category} ? ${T(com.example.loo.model.board.BoardCategory).valueOf(param.board_category).description} : ''">
	</title>
</head>

<body>
	<script>
		function search() {
			let searchText = document.getElementById("searchText").value;
			let board_category = document.getElementById("board_category").value;
			 
			location.href = "/board/list?board_category=" + board_category + "&searchText=" + searchText;			
		}
		
    	function deleteBoard(board_id) {
			console.log("deleteBoard 실행");
			console.log(board_id);
        	if (confirm('정말로 삭제하시겠습니까?')) {
            	location.replace('/board/delete?board_id=' + board_id);
			}
		}
	</script>
	<div class="wrapper">
		<!-- 사이드 메뉴 -->
		<nav id="sidebar" class="sidebar js-sidebar" th:if="${session.loginMember}">
			<div th:replace="sidebar :: login"></div>
		</nav>
		<!-- 상단 드롭다운 -->
		<div class="main">
			<nav class="navbar navbar-expand navbar-light navbar-bg" th:if="${session.loginMember}">
				<a class="sidebar-toggle js-sidebar-toggle">
					<i class="hamburger align-self-center"></i>
				</a>
				<div th:replace="dropdown :: login"></div>
			</nav>

			<main class="content">
				<div class="container-fluid p-0">
					<th:block
						th:with="board_category=${T(com.example.loo.model.board.BoardCategory).valueOf(param.board_category)}">
						<h1 class="h3 mb-3" th:text="${board_category.description}"></h1>
					</th:block>
					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-body">
									<table class="table">
										<tbody>
											<tr class="text-center">
												<th>No</th>
												<th>제목</th>
												<th>작성자</th>
												<th>조회수</th>
												<th>작성일</th>
												<th></th>
											</tr>
											<tr th:if="${boards != null}" th:each="board : ${boards}">
												<td class="text-center" th:text="${boardStat.count}"></td>
												<td><a th:href="@{/board/read(board_id=${board.board_id})}"
														th:text="${board.board_title}"></a></td>
												<td class="text-center" th:text="${board.member_name}"></td>
												<td class="text-center" th:text="${board.hit}"></td>
												<td class="text-center"
													th:text="${#temporals.format(board.create_time, 'yyyy-MM-dd HH:mm')}">
												</td>
												<td class="text-center" th:if="${session.loginMember.getPosition_id == 'manager'}">
													<input type="button" class="btn btn-primary btn-sm" 
															th:onclick="'javascript:deleteBoard(\''+ ${board.board_id} +'\');'"
															value="삭제하기">
												</td>
											</tr>
										</tbody>
									</table>
									<div id="navigator" class="text-center">
									
										<th:block th:if="${navi.currentPage - navi.pagePerGroup > 0 }">
											<a th:href="@{/board/list(board_category=${board_category},page=${navi.currentPage - navi.pagePerGroup},searchText=${searchText})}"><<</a>&nbsp;&nbsp;
										</th:block>
										
										<th:block th:if="${navi.currentPage - 1 > 0}">
											<a th:href="@{/board/list(board_category=${board_category},page=${navi.currentPage - 1 },searchText=${searchText})}"><</a>&nbsp;&nbsp;
										</th:block>
										
										
										<th:block th:if="${navi.endPageGroup != 0}">
											<th:block th:each="counter : ${#numbers.sequence(navi.startPageGroup, navi.endPageGroup)}">
												<a th:href="@{/board/list(board_category=${board_category},searchText=${searchText},page=${counter})}" th:text="${counter}"></a>&nbsp;&nbsp;
											</th:block>
										</th:block>
										
										<th:block th:if="${navi.currentPage < navi.totalPageCount}">
											<a th:href="@{/board/list(board_category=${board_category},page=${navi.currentPage + 1 },searchText=${searchText})}">></a>&nbsp;&nbsp;
										</th:block>
										
										<th:block th:if="${navi.currentPage + navi.pagePerGroup < navi.totalPageCount + 1}">
											<a th:href="@{/board/list(board_category=${board_category},page=${navi.currentPage + navi.pagePerGroup },searchText=${searchText})}">>></a>&nbsp;&nbsp;
										</th:block>
										
									</div> 
									<div class="text-center">
										<form>
											<label for="searchText">제목:</label>
											<input type="search" id="searchText" name="searchText"
												th:value="${searchText}">
											<input type="hidden" id="board_category" name="board_category"
												th:value="${board_category}">
											<input class="btn btn-sm btn-primary" type="button" onclick="search()" value="검색">
										</form>
									</div>
									<p>
									<div class="text-center">
										<input type="button" class="btn btn-primary btn-sm" onclick="location.href='/'"
											value="메인으로">
										<input type="button" class="btn btn-primary btn-sm" 
											th:unless="${session.loginMember.getPosition_id != 'manager' && board_category.toString().equals('NOTICE')}"
											th:onclick="|location.href='@{/board/write(board_category=${param.board_category})}'|"
											value="글쓰기">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>

	<script src="/js/app.js"></script>

</body>

</html>