<!DOCTYPE html>
<html lang="ko">
<head th:replace="head :: head"></head>
<head>
	<title>동호회</title>
</head>

<body>
	<script>
    	function deleteClub(board_id) {
			console.log("deleteBoard 실행");
			console.log(board_id);
        	if (confirm('삭제하시겠습니까?')) {
				alert('삭제되었습니다');
            	location.replace('/club/delete?board_id=' + board_id);
			}
		}
	</script>
	<div class="wrapper">
		<!-- 사이드 메뉴 -->
		<nav id="sidebar" class="sidebar js-sidebar">
			<div th:replace="sidebar :: login"></div>
		</nav>
		<!-- 상단 드롭다운 -->
		<div class="main">
			<nav class="navbar navbar-expand navbar-light navbar-bg">
				<a class="sidebar-toggle js-sidebar-toggle">
					<i class="hamburger align-self-center"></i>
    			</a>
				<div th:replace="dropdown :: login"></div>
			</nav>

			<!-- 중앙화면 -->
			<main class="content">
				<div class="container-fluid p-0">
					<!-- 검은글씨 제목 -->
					<div class="mb-3">
						<h1 class="h3 d-inline mb-3">동호회 게시판</h1>
						<a class="badge bg-primary me-1 my-1" href="/club/write">
							새 동호회 만들기
						</a>
					</div>
					<div class="row">
						<div class="col-12 col-md-3" th:each="board : ${boards}" th:object="${board}">
							<div class="card">
								<th:block th:if="${board.saved_filename}">
									<img class="card-img-top" id="image" style="height: 200px" th:src="'/img/upload/' + ${board.saved_filename}">
								</th:block>
								<th:block th:unless="${board.saved_filename}">
									<img class="card-img-top" id="image" style="height: 200px" src="/img/icons/Loo_Letter.png">
								</th:block>
								</th:block>
								<div class="card-header">
									<h5 class="card-title mb-0" th:text="*{board_title}"></h5>
									<small class="text-muted" th:text="'시작일 : ' + ${#temporals.format(board.create_time, 'yyyy-MM-dd')}"></small>
								</div>
								<div class="card-body">
									<a th:onclick="'javascript:deleteClub(\''+ ${board.board_id} +'\');'"
									class="float-end" th:if="${session.loginMember.getPosition_id == 'manager'}">
										<i class="feather-md" data-feather="trash-2"></i>
										삭제
									</a>
									<a th:href="@{/club/chat(board_id=*{board_id})}" class="card-link">참여하기</a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</main>

		</div>
	</div>

	<script src="/js/app.js"></script>

</body>

</html>