<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<!-- 로그아웃 시 -->
	<div class="navbar-collapse collapse" th:fragment="logout">
		<ul class="navbar-nav navbar-align">
			<li class="nav-item">
				<a class="nav-link d-none d-sm-inline-block" href="/users/login">
					<i class="text-dark" data-feather="log-in"></i>
					<span class="text-dark">로그인</span>
  				</a>
				<a class="nav-link d-none d-sm-inline-block" href="/users/signup">
   					<i class="text-dark" data-feather="user-plus"></i>
   					<span class="text-dark">회원가입</span>
  				</a>
			</li>
		</ul>
	</div>
	
	<!-- 로그인 시 -->
	<div class="navbar-collapse collapse" th:fragment="login">
		<ul class="navbar-nav navbar-align">
			<li class="nav-item dropdown" th:if="${session.loginMember}">
				<a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
    				<i class="align-middle" data-feather="settings"></i>
  				</a>
				<!-- 회원이름 표시 -->
				<a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
    				<img src="/img/avatars/profile.png" class="avatar img-fluid rounded me-1" alt="basic" />
   					<span class="text-dark">[[${session.loginMember.member_name}]]</span>
  				</a>
  				<!-- 드롭다운 내 메뉴 -->
				<div class="dropdown-menu dropdown-menu-end">
					<a class="dropdown-item" href="pages-profile.html"><i class="align-middle me-1" data-feather="user"></i> 내 정보</a>
					<a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="check-square"></i> 근태관리</a>
					<!-- 드롭다운 메뉴 구분선 -->
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="/users/logout"><i class="align-middle me-1" data-feather="log-out"></i> 로그아웃</a>
				</div>
			</li>
		</ul>
	</div>
</html>