<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.loo.repository.BoardMapper">
  

  <insert id="saveBoard">
    <selectKey keyProperty="board_id" resultType="long" order="BEFORE">
      select board_seq.nextval from dual
    </selectKey>
    insert into board(
      board_id,
      board_title,
      board_contents,
      board_category,
      member_mail
    ) values (
      #{board_id},
      #{board_title},
      #{board_contents},
      #{board_category},
      #{member_mail}   
    )
  </insert>
  
  <select id="findAllBoards" resultType="board">
    select
    	b.board_id,
    	b.board_title,
    	b.board_contents,
    	m.member_name,
    	b.board_category,
    	b.create_time,
    	b.edit_time,
    	b.hit
    from
    	board b join member m
    	on (b.member_mail = m.member_mail)
    where
    	b.board_category = #{board_category}
    order by
    	create_time desc
  </select>
  
  <select id="findBoard" resultType="board">
  	select
    	b.board_id,
    	b.board_title,
    	b.board_contents,
    	b.member_mail,
    	m.member_name,
    	b.board_category,
    	b.create_time,
    	b.edit_time,
    	b.hit
    from
    	board b join member m
    	on (b.member_mail = m.member_mail)
    where
    	b.board_id = #{board_id}
  </select>
  
  <update id="addHit">
		update board set 
		hit = hit+1
		where board_id = #{board_id}
  </update>
  
  <update id="updateBoard">
    update board
    <set>
        <if test="board_title != null">board_title = #{board_title},</if>
        <if test="board_contents != null">board_contents = #{board_contents},</if>
        edit_time = sysdate
    </set>
    where board_id = #{board_id}
  </update>
  
  <delete id="removeBoard">
  	delete from board where board_id = #{board_id}
  </delete>
  
  <insert id="saveFile">
  	<selectKey keyProperty="attachedFile_id" resultType="Long" order="BEFORE">
  		select board_seq.nextval from dual
  	</selectKey>
  		insert into board_attached_file(
  			attachedFile_id,
  			board_id,
  			original_filename,
  			saved_filename,
  			file_size
  		) values (
  			#{attachedFile_id},
  			#{board_id},
  			#{original_filename},
  			#{saved_filename},
  			#{file_size}
  		)
  </insert>
  
  <select id="getTotal" resultType="int">
        select count(*) from board
        where board_category = #{board_category}
  </select>
  
  <select id="findFileByBoardId" resultType="boardfile">
  	select * from board_attached_file where board_id = #{board_id}
  </select>
  
  <select id="findFileByAttachedFileId" resultType="boardfile">
	select * from board_attached_file where attachedFile_id = #{attachedFile_id}  
  </select>
  
  <delete id="removeAttachedFile">
  	delete from board_attached_file where attachedFile_id = #{attachedFile_id}
  </delete>
  
  <select id="findAllClubs" resultType="board">
    select
    	b.board_id,
    	b.board_title,
		b.board_contents,
		b.member_mail,
		b.board_category,
		b.create_time,
		b.edit_time,
		b.hit,
		f.saved_filename
    from
    	board b LEFT OUTER JOIN board_attached_file f
		ON (b.BOARD_ID = f.BOARD_ID)
    where
    	b.board_category = 'CLUB'
    order by
    	create_time desc
  </select>
  
</mapper>