<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.loo.repository.CommentsMapper">
	
	<insert id="saveComments">
		<selectKey keyProperty="comment_id" resultType="long" order="BEFORE">
			select comments_seq.nextval from dual
		</selectKey>
		insert into comments(
			comment_id,
			board_id,
			member_mail,
			comment_contents
		) values (
			#{comment_id},
			#{board_id},
			#{member_mail},
			#{comment_contents}
		)
	</insert>

  	<select id="findAllComments" resultType="comments">
	    select
	    	c.comment_id,
			c.board_id,
			c.comment_contents,
			c.comment_create_time,
			c.click_like,
			m.member_mail,
			m.member_name,
			c.comment_edit_time,
			m.saved_filename
	    from
	    	comments c left outer join member m
	    	on (c.member_mail = m.member_mail)
	    where
	    	c.board_id = #{board_id}
	    order by
	    	c.comment_create_time desc
    </select>
  	
  	<select id="findComment" resultType="comments">
  		select * from comments where comment_id = #{comment_id}
  	</select>
  
  	<update id="updateComments">
  		update comments set
	  		comment_contents = #{comment_contents},
  			comment_edit_time = sysdate
  		where
  			comment_id = #{comment_id}
  	</update>
  
  	<delete id="removeComment">
  		delete from comments where comment_id = #{comment_id}
  	</delete>
  	
  	<delete id="removeAllComments">
  		delete from comments where board_id = #{board_id}
  	</delete>
  
</mapper>