<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.loo.repository.ScheduleMapper">

	<insert id="saveSchedule">
		<selectKey keyProperty="schedule_id" resultType="long"
			order="BEFORE">
			select schedule_seq.nextval from dual
		</selectKey>

		insert into schedule (
		schedule_id,
		schedule_name,
		schedule_contents,
		schedule_date,
		member_mail,
		schedule_type,
		importance,
		deadline,
		complete_time
		) values (
		#{schedule_id},
		#{schedule_name},
		#{schedule_contents},
		#{schedule_date},
		#{member_mail},
		#{schedule_type},
		#{importance},
		#{deadline},
		SYSDATE

		)
	</insert>

	<select id="getPerSchedule" resultType="schedule">
		select
		s.schedule_id,
		s.schedule_name,
		s.schedule_contents,
		s.schedule_date,
		m.member_mail,
		s.schedule_type,
		s.importance,
		s.deadline
		from
		schedule s join member m
		on (s.member_mail = m.member_mail)
		where
		s.member_mail = #{member_mail} and s.schedule_type = 'personal'

	</select>

	<select id="getAllSchedule" resultType="schedule">
		select
		schedule_id,
		schedule_name,
		schedule_contents,
		schedule_date,
		schedule_type,
		importance,
		deadline
		from schedule
		where schedule_type = 'company'

	</select>
	<select id="allSchedules" resultType="schedule">
		select * from schedule
	</select>
	
	<delete id="deleteSchedule">
		delete from schedule where schedule_name = #{schedule_name}
	</delete>


</mapper>