<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="com.example.loo.repository.MemberMapper">
	<insert id="saveMember">
		INSERT INTO member (
			member_mail,
			password,
			member_name,
			phone,
			birthday,
			hire_date,
			company_id,
			department_id,
			position_id
		) VALUES (
			#{member_mail},	
			#{password},		
			#{member_name},		
			#{phone},
			#{birthday},
			#{hire_date},
			#{company_id},
			#{department_id},
			#{position_id}
		)
	</insert>

	<select id="findMember" resultType="member">
		select * from member where member_mail = #{member_mail}
	</select>
	
	<update id="updateMember">
		update member
		set
			password = #{password},
			phone = #{phone}
		where
			member_mail = #{member_mail}
	</update>
	
	
	
</mapper>